

/*/ div, span { border: solid thin; } /**/

div.img {
    position: fixed;
    transform: translateY(-50%);
    top: 50%;

    height: 100%;
    width: 35%;


    padding-left: 4em;
    margin: 0;
    background: white;
    text-align: center;
}

img.profile {
    position: relative;
    height: 100%;
    margin-left: -10%;
    text-align: right;
}

div.text {
    position: absolute;
    left: calc(35% + 4em);
    height: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0 0 6px 0.1px #aaa;
    background: rgba(250, 250, 250, 0.6);
}

div.span {
    max-height: 100%;
    overflow-y: scroll;
    padding: 0 12%;
    background: transparent;
}


