::-webkit-scrollbar {
    display: none;
}


html, body {
    position: fixed;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    /* background: #f5f5f5; */
    background: white;
    font-family: "didot";
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

div.side > .center {
    display: none;
    text-align: center;
}

div.side:hover > .center {
    display: block;
}


div.wrap { overflow-y: hidden; }

div.side {
    position: fixed;
    bottom: 0; left: 0;
    overflow-y: scroll;
    height: 100%;
    width: 15em;
    max-width: 100%;
    box-shadow: 0 0 6px 0.1px #aaa;
    background: rgba(250, 250, 250, 0.7);   
    transform: translateX(-80%);
    transition: 0.2s;
}

div.side > div.category {
    position: relative;
    opacity: 0;
    transition: 0.2s;
    margin: 0.4em 0 0.0em;
    padding: 0.3em 0 0.3em 2em;
    font-size: 120%;
    font-weight: bold;
    cursor: pointer;
}


div.side > ul.side {
    margin: 0;
    padding: 0.5em 3em;
    cursor: pointer;
}

div.side:hover {
    background: rgba(250, 250, 250, 0.7);
    max-width: 100%;
    transition: 0.2s;
    transform: translateX(0em);
}

div.side:hover > div.category {
    opacity: 1;
    transition: 0.2s;
}

div.side:hover > ul:hover {
    background: rgba(150, 150, 150, 0.3);
    color: darkblue;
}

div.side:hover > div.category:hover {
    background: rgba(150, 150, 150, 0.3);
    color: darkblue;
}

ul:active, div.category:active {
    color: #555;
}

div.side:hover > img.more {
    opacity: 0;
    transform: translateX(-15em);
    transition: 0.5s;
}

