.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

body {
    color: white;
    text-align: center;
    font-family: didot;
}

div, body, html {
    padding: 0;
    margin: 0;
}

div.footer {
    text-align: center;
    bottom: 0;
    color: white;
    width: 100%;
    font-size: 70%;
}

section.scroll {
    background: transparent;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

div.showcase {
    background: rgba(250, 250, 250, 0.2);
    width: 80%;
    min-height: 39%;
    display: inline-block;
}

div.header {
    position: relative;
    width: 100%;
    height: 60vh;
    overflow: hidden;
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%)
}

div.header > div.headtext {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    font-family: "Press Start 2P";
    background: transparent;
}

div.headtext > h1 {
    font-size: 4vw;
    letter-spacing: 4vw;
    text-indent: 4vw;
    font-style: italic;
}


div.headtext > span {
    font-size: 1vw;
    padding: 3vw;
}

a { color: white; }

div.name {
    position: relative;
    margin: -7vh 25vw -5.5vh 25vw;
    padding: 4vh;
    transform: translateY(0);
    border: solid 0.5vh white;
    color: white;
    text-align: center;

    background: -webkit-linear-gradient(left, #090A0F, #1B2735, #090A0F); /* For Safari 5.1 to 6.0 */
    background:    -moz-linear-gradient(left, #090A0F, #1B2735, #090A0F); /* For Firefox 3.6 to 15 */
    background:      -o-linear-gradient(left, #090A0F, #1B2735, #090A0F); /* For Opera 11.1 to 12.0 */
    background:         linear-gradient(left, #090A0F, #1B2735, #090A0F); /* Standard syntax */

}


span.name {
    height: 10vh;

    font-family: "Press Start 2P";
    font-size: 3vh;
    letter-spacing: 1vw;
    text-indent: 1vw;
}

hr.divhead {
    margin: -0.3vh 0 -3vh 0;
    transform: translateY(-50%);
    border: solid 0.3vh white;
}